*{
  border: 0;
  padding: 0;
  margin: 0;
}

div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100vh;
}

h2{
  font-size: 60px;
  background: white;
  padding: 8px 24px;
  border-radius: 16px;
}

div:nth-child(1){
  background-image: url(Background2.jpg);

  background-size: cover;
}
div:nth-child(2){
  background: violet;
}
div:nth-child(3){
  height: 300px;
  background-image: url(background1.jpg);
  background-attachment: fixed;
  background-size: cover;
}
div:nth-child(4){
  background: yellow;
}

.container{

}

.navbar{
  padding-top: 3%;
  padding-right: 1%;
	align-items:flex-start;
}

.Menu_icon{

	width: 50px;
  padding-left: 3%;
  padding-right: 2%;
  padding-top: -.5%;
	cursor: pointer;

}
nav{
	flex: 1;
	position: top;
	text-align: right;

}
nav ul li{  /*home */
  padding-top: .5%;
	list-style: none;
	display: inline-block;
	margin-left: 25px;
	position: relative;
}
nav ul li a{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
	color:#ffffff;
	font-size: 30px;
}
nav ul li::after{
  border-radius: 20px;
	content: '';
	height: 50%;
	width: 0%;
	background: #6047ec;
	position: absolute;
	left: 0;
	bottom: -20px;
	transition: 0.5s;
}
nav ul li:hover::after{
	width: 100%;
}


.card{
	
	width: 170px;
	height: 200px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-size: cover;
	transition: transform 0.5s;
}
.card1{
	margin-left: 1000px;
	margin-top: 70px;
	margin-bottom: 4500px;

	
	background-image: url(ilocosnorte.jpg);
}
.card2{
	margin-left: 800px;
	margin-top: 70px;
	margin-bottom: 4500px;

	background-image: url(ilocossur.jpg);
}
.card3{
	margin-left: 1000px;
	margin-top: 300px;
	margin-bottom: 4500px;

	background-image: url(launion.jpg);
}
.card4{
	margin-left: 800px;
	margin-top: 300px;
	margin-bottom: 4500px;

	background-image: url(pangasinan.jpg);
}

.card:hover{
	filter: blur(70%);
	transform: translateY(-10px);
}