*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(134, 103, 103, 0.7), rgba(3, 1, 1, 0.7)) ; 
	background-image: url(Background6.jpg);
	background-position: center;
	background-size: cover;
	padding-left: 8%;
	padding-right: 3%;
	box-sizing: border-box;
	background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);
	
}
.navbar{
	height: 12%;
	display: flex;
	align-items:flex-start;
}
.logo{
	width: 50px;
	cursor: pointer;
}
.Menu_icon{
	width: 50px;
  padding-left: 2%;
 
  padding-top: 2%;
	cursor: pointer;
}
nav{
	flex: 1;
	text-align: right;

}
nav ul li{  /*home */
	padding-top: 3%;
	list-style: none;
	display: inline-block;
	margin-left: 20px;
	position: relative;
}
nav ul li a{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
	color:#ebdddd;
	font-size: 30px;
}
nav ul li::after{
	content: '';
	height: 20%;
	width: 0%;
	border-radius: 20px;
	background: #00468b;
	position: absolute;
	left: 0;
	bottom: -20px;
	transition: 0.5s;
}
nav ul li:hover::after{
	width: 100%;
}
/*
nav ul li a.active{
	background-color: none;

}
nav ul li a:hover:not(.active){
	background-color: #555;
} */
.row{
	position: absolute;
	display: inline-flex;
	height: 88%;
	align-items: center;
}
.col{
	flex-basis: 50%;
	align-items: center;
}
h1{
	position: absolute;
	margin-top: 170px;
	color: rgb(190, 190, 190);
	font-size: 70px;
}
p{
	position: absolute;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: rgb(187, 187, 187);
	font-size: 20px;
	line-height: 25px;
	margin-top: 260px;
	margin-right: 0px;
}
button{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: 160px;
	padding: 12px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 20px;
	font-weight: bold;
	border: 2px solid #ffffff;
	background: white;
	color: black;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	font-size: 20px;
	margin-left: 0px;
	margin-top: 350px; /*to adjust */
	
}
span{
	background: #009688;
	height: 100%;
	width: 100%;
	border-radius: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;

}
button:hover{
	border: none;

}
.card{
	opacity: 80%;
	width: 170px;
	height: 200px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-size: cover;
	transition: transform 0.5s;
}
.card1{
	margin-left: 1000px;
	margin-top: 70px;
	margin-bottom: 4500px;
	position: absolute;
	background-image: url(ilocosnorte.jpg);
}
.card2{
	margin-left: 800px;
	margin-top: 70px;
	margin-bottom: 4500px;
	position: absolute;
	background-image: url(ilocossur.jpg);
}
.card3{
	margin-left: 1000px;
	margin-top: 300px;
	margin-bottom: 4500px;
	position: absolute;
	background-image: url(launion.jpg);
}
.card4{
	margin-left: 800px;
	margin-top: 300px;
	margin-bottom: 4500px;
	position: absolute;
	background-image: url(pangasinan.jpg);
}

.card:hover{
	opacity: 100%;
	filter: blur(70%);
	transform: translateY(-10px);
}

h5{
	color: #fff;
	text-shadow: 0 0 5px #999;
}
